.khan__buy-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
}

.khan__buy-link:hover {
  opacity: 70%;
  transition: opacity .5s ease-out;
}
